<section>
  <div class="page-header">
    <h1 ng-bind="vm.listingproperty.name"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.listingproperty.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="listingproperties.edit({ listingpropertyId: vm.listingproperty._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.flagVal()">
      <i class="glyphicon glyphicon-flag"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.listingproperty.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.listingproperty.user"
            ng-bind="vm.listingproperty.user.displayName"></span>
      <span ng-if="!vm.listingproperty.user">Deleted User</span>
    </em>
  </small><br>
  <!-- <div
  angular-google-maps-geocoder placeid="{{ vm.my_place_id }}"
  output="out"
  placeholder="Placeholder goes here..."
  min-length="5"
  wait-ms="500"
></div>
<pre>{{ out | json }}</pre> -->

  <label></label><span class="lead" ng-bind="vm.listingproperty.address"></span><br />
  <label>Property Description: </label><p class="lead" ng-bind="vm.listingproperty.propertydescription"></p>
  <label>Price: </label><span class="lead" ng-bind="vm.listingproperty.price"></span><br />
  <label>No of bedrooms: </label><span ng-bind="vm.listingproperty.noofbedroom" ></span><br />
  <label>city: </label><span ng-bind="vm.listingproperty.city" ></span><br />
  <label>unit #: </label><span ng-bind="vm.listingproperty.unit" ></span><br />
  <label></label>
</section>
<!-- <map zoom ='6'>
  <marker position="[0,0]" visible="true"> </marker>
     a initial position must be set because it will prompt the users current geolocation and set it to that
</map> -->

Latitude: 
<p class="lead" ng-bind="vm.listingproperty.lat">{{vm.listingproperty.lat}}</p>
Longitude: 
<p class="lead" ng-bind="vm.listingproperty.lon">{{vm.listingproperty.lon}}</p>
<script>console.log(vm.listingroperty.lat + vm.listingproperty.lon);</script>
<map center="[{{vm.listingproperty.lat}},{{vm.listingproperty.lon}}]" zoom ='15'>
<marker position="[{{vm.listingproperty.lat}},{{vm.listingproperty.lon}}]" visible="true"></marker>
</map>
 
